<!-- <div class="row">
  <div class="col-sm-8 playlist-main"> -->
  {{#each this}}
    <ul data-id={{this.id}}>
        <li><h2 class="current-playlist-name">{{this.name}}</h2></li>
        <li class="current-playlist-tracks">
           {{#each this.tracks}}
           <ul data-id={{this.id}}>
            <li><h3>Title: {{title}}</h3></li>
            <li>Artist: {{artist}}</li>
            <li>Src: {{host_url}}</li>
            <li><button class="remove-current-track hidden btn btn-info btn-sm">Remove Track</button></li>
            <li><button class= "save-changes-current hidden btn btn-info btn-sm">Save Changes</button></li>
          </ul>{{/each}}</li>
        <li><button class= "edit-current-playlist btn btn-info btn-sm">Edit Playlist</button></li>
        <li><button class= "cancel-changes-current hidden btn btn-info btn-sm">Cancel</button></li>
    </ul>
  {{/each}}
      <!-- </div> -->
  <!-- </div>
</div> -->
